@import "tailwindcss";
.ant-message {
  z-index: 9999 !important;
  position: fixed !important;
}

.ant-message-notice-content {
  background-color: #fff !important;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 12px 16px;
}